.searchContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 15px;
}

.searchInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
}

.searchInput::placeholder {
    color: #fff;
}

.searchInput:focus {
    color: #fff;
}

.searchButton {
    background-color: transparent;
    border: none;
}

.searchIcon {
    font-size: 1.5em;
    color: #fff;
    margin-left: 10px;
}